<html>
<body>
    <form class="form-horizontal" method="post">
        <tr>
            <td>
                型号
            </td>
            <td>
                简介
            </td>
            <td>
                位置
            </td>
            <td>
                数量
            </td>
        </tr>
        <br/>
        <tr>
            <td><input type="text" name="name"/></td>
            <td><input type="text" name="brief_introduction"/></td>
            <td><input type="text" name="location"/></td>
            <td><input type="text" name="counts"/></td>
            <td><button type="submit" class="btn-block" >提交</button></td>
        </tr>
    </form>
</body>
</html>
