{% extends "base.html" %}
{% block content %}
<form class="form-horizontal" method="post">
				<div class="control-group">
					 <label class="control-label" for="inputEmail">用户名</label>
					<div class="controls">
						<input id="username" name="username" type="text" />
					</div>
				</div>
				<div class="control-group">
					 <label class="control-label" for="inputPassword">密码</label>
					<div class="controls">
						<input id="inputPassword" name="inputPassword" type="password" />
					</div>
				</div>
                <div class="control-group">
					<div class="controls">
						 <!--<label class="checkbox"><input type="checkbox" /> 记住我</label>-->
						 <button type="submit" class="btn">登陆</button>
					</div>
				</div>

			</form>
{% endblock %}